* {
    margin: 0;
    padding: 0;
}

header, main, aside, footer {
    border-radius: 1rem;
    height: 3rem;
}

body {
    display: grid;
    gap: 1rem;
    margin: 1rem;
}

header {
    background-color: aqua;
    grid-area: a;
}

main{
    height: auto;
    background-color: blanchedalmond;
    grid-area: b;
}

.aside1 {
    background-color: blueviolet;
    grid-area: c;
    height: auto;
}

.aside2 {
    background-color: rgb(100, 41, 155);
    grid-area: d;
    height: auto;
}

footer {
    background-color: greenyellow;
    grid-area: e;
}

/* PARA CELULAR */
@media (max-width: 600px) {
    body {
        display: grid;
        gap: 1rem;
        grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
        grid-template-areas:
        "a a a a a"
        "c c c c c"
        "b b b b b"
        "d d d d d"
        "e e e e e";
    }
}

/* PARA TABLET */
@media (min-width: 600px) and (max-width: 1024px) {
    body {
        display: grid;
        gap: 1rem;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 6fr;
        grid-template-areas:
        "a a a a"
        "c c b b"
        "d d d d"
        "e e e e";
    }
}

/* PARA DESKTOP */

@media (min-width: 1024px) {
    body {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-areas:
        "a a a"
        "c b d"
        "e e e";
    }
}
